.nav {
    width: 200px;
    float: left;
    margin-top: 60px;
}

.button a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 5px 10px;
}

.button a:hover {
    background-color: #404040;
}

.button:last-child {
    margin-top: 20px;
}

.button span {
    padding-left: 5px;
}