body {
    height: 100vh;
    background-color: #202020;
    margin: 0;
    font-family: Calibri, serif;
}

a {
    text-decoration: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
    color: #A0A0A0;
}

.app-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.app-wrapper .MainContent {
    display: flex;
    float: left;
    justify-content: center;
}

.Content {
    display: flex;
}

@media screen and (min-width: 1280px){
    .app-wrapper {
        justify-content: center;
    }
}

